<head>

    <link href="dashboard.css" rel="stylesheet">

</head>

<body>

<iframe name="placeholder" value="none" style="display: none"></iframe>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">{{Username}}</a>
    <a class="nav-link col-sm-2 col-md-2 mr-0" href="{{BotInvite}}" style="color: white">Invite Bot</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="welcome">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="overview">
                            Overview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="staff">
                            Staff
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="channels">
                            Channels
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Roles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Custom
                        </a>
                    </li>
                </ul>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <hr>
                <br>
            </div>
            <div class="container-fluid">
                <form method="POST" class="form" action="/setPrefix" target="placeholder">
                    <div class="container">
                        <h6>Prefix</h6><br>
                        Enter prefix: <input type="text" placeholder="-" name="prefix" id="pref" maxlength="4">
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Set">
                </form>
            </div>
            <br>
            <hr>
            <div class="container-fluid">
                <form method="POST" class="form" action="/setWords" target="placeholder">
                    <div class="container">
                        <h6>Filtered Words</h6><br>
                        Enter words: <input type="text" name="filteredWords" placeholder="word1, word2, word3..."
                                            id="BadW">
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Set">
                </form>
            </div>
            <br>
            <hr>
            <div class="container-fluid">
                <form method="POST" class="form" action="/setTicketGreetingMessage" target="placeholder">
                    <div class="container">
                        <h6>Greeting message</h6><br>
                        Enter greetings text: <textarea name="GreetingsText" class="form-control"
                                                        id="greetings"></textarea>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Set">
                </form>
            </div>
            <br>
            <hr>
        </main>
    </div>
</div>

<script>

    var customOptions = JSON.parse(decodeURI("{{CustomOptions}}"));

    document.getElementById('greetings').textContent = customOptions.GreetingMessage;
    document.getElementById('pref').setAttribute('value', customOptions.Prefix);
    document.getElementById('BadW').setAttribute('value', customOptions.FilteredWords.join(', '));

</script>

</body>