<head>

    <link rel="stylesheet" href="welcome.css">

</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">

        <div class="inner">

            <h3 class="container-fluid">Wumpi - Moderation</h3>

        </div>

    </header>

    <main role="main" class="inner cover">

        <h1 class="cover-heading"><a href="{{AuthLink}}">Get to your Dashboard</a></h1>
        <p class="lead">
            <q>Login to your Discord to open the Dashboard</q>
        </p>

    </main>

    <footer class="mastfoot mt-auto">

        <p>

            Discord Hack Week - Wumpi

        </p>

    </footer>

</div>

</body>