<head>
    <link rel="stylesheet" href="welcome.css">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Wumpi - Moderation</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>
    <main role="main" class="inner cover">
        <h1 class="cover-heading"><a href="{{AuthLink}}">Login</a></h1>
        <p class="lead">
            "Login to your Discord to open the Dashboard"
        </p>
    </main>
    <footer class="mastfoot mt-auto">
        <p>
            "@Copyright to Wumpi Comp - 2019"
        </p>
    </footer>
</div>
</body>